body {
    margin:0;
    background: #846C5B;
}
#Fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#Logo {
    position: relative;
    float: right;
    float: top;
    height: 46px;
    width: auto;
}
#Logo2 {
    position: absolute;
    top: 300px;
    height: 25%;
    left: 25%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
    top: 0;
    width: 100%;
}
#d:hover .menu{
    display: block;
}
.menu {
    display: none;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #58D68D;
}
h1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: 500%;
    font-family: 'Noto Serif', serif;
    margin:320px;
    font-weight: bold;
}
h2 {
    position: absolute;
    color: white;
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
    top: 750px;
    left: 45%;
}
#informations {
    position: relative;
    text-align: center;
    margin-top: 300px;
    padding: 50px;
}
#informations span {
    font-family: 'Noto Serif', serif;
    font-size: 250%;
    color: #443742;
}
#informations h3 {
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
    text-align: left;
    color: #443742;
}
#informations p {
    font-family: 'PT Sans', sans-serif;
    font-size: 120%;
    color: #443742;
    text-align: left;
}
#informations .plante {
    width: 150px;
    height: 150px;
    float: right;
    transform: rotate(45deg);
}
#informations p .livre {
    width: 30px;
    height: 30px;
}
#informations p .main {
    width: 30px;
    height: 30px;
}
#informations p .ampoule {
    width: 30px;
    height: 30px;
}
#réseaux .fond2 {
    width: 100%;
    height: 100%;
 }
#banderole {
    padding: 2px;
    background-color: #003D0C;
}
h4 {
    color: #E0E0E0;
    text-align: center;
}
#banderole2 {
    padding: 2px;
    background-color: #003D0C;
}
#banderole3 {
    padding: 2px;
    background-color: #003D0C;
}
#banderole4 {
    padding: 2px;
    background-color: #003D0C;
}
#exemple {
    position: absolute;
    top: 1800px;
    height: 500px;
    left: 0px;
    opacity: 0.5;


}
a {
    text-decoration: none;
    color: #E0E0E0;
}

#bqFond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    filter: blur(4px);

}
#b {
    font-family: 'Lobster', cursive;
    font-size: 700%;
    bottom: 180px;
    color : #5DD9C1 ;

}

@media (max width="500px") {
    #b {    
        bottom: 100px;

    }
}
#haut1 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
#haut2 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
#mug1 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
#mug2 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
#photo1 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
#photo2 {
    padding: 20px;
    max-height: 550px;
    max-width: 550px;
    min-height: 550px;
    max-width: 550px;
}
.photos {
    display: inline-block;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


.forms-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-size: 32px;
    letter-spacing: 1px;
    color: #fff;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
}

.form-wrapper {
    animation: hideLayer .3s ease-out forwards;
}

.form-wrapper.is-active {
    animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }
    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: .5px;
    color: #999;
    background-color: transparent;
    border: none;
    outline: none;
    transform: translateX(0);
    transition: all .3s ease-out;
}

.form-wrapper.is-active .switcher-login {
    color: #;
    transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
    color: #fff;
    transform: translateX(-90px);
}

.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 2px;
}

.underline::before {
    content: '';
    position: absolute;
    top: 0;
    left: inherit;
    display: block;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: transform .2s ease-out;
}

.switcher-login .underline::before {
    transform: translateX(101%);
}

.switcher-signup .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}

.form {
    overflow: hidden;
    min-width: 360px;
    max-height: 360px;
    margin-top: 50px;
    padding: 30px 25px;
  border-radius: 5px;
    transform-origin: top;
}

.form-login {
    animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
    animation: showLogin .3s ease-in forwards;
}

@keyframes showLogin {
    0% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background-color: #4B452F;
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: #4B452F;
        transform: translate(35%, -20px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background: #d7e7f1;
        transform: translate(40%, 10px);
    }
}

.form-signup {
    animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
    animation: showSignup .3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
}

@keyframes hideSignup {
    0% {
        background-color: #fff;
        transform: translate(-35%, -20px) scaleY(1);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background: #d7e7f1;
        transform: translate(-40%, 10px) scaleY(.8);
    }
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    margin-bottom: 20px;
}

.input-block label {
    font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    line-height: 40px;
    color: #3b4465;
  background: #eef9fe;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    transition: all .3s ease-out;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
}

.btn-login {
    color: #fbfdff;
    background: #198A57;
    transform: translateX(-30%);
}

.btn-signup {
    color: #a7e245;
    background: #fbfdff;
    box-shadow: inset 0 0 0 2px #a7e245;
    transform: translateX(30%);
}

  #searchbar{
     margin-left: 15%;
     padding:15px;
     border-radius: 10px;
     width: 30px;
     height: 30px;
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }
 
  #list{
    font-size:  1.5em;
    margin-left: 90px;
   }
    
